<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW BLOG</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"> 
    
    
    
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../static/css/quill.css">
    <link rel="stylesheet" href="../static/css/quill.snow.css">
    <link rel="stylesheet" href="../static/css/quill.bubble.css">
    
     
    <script src="../static/js/quill.min.js"></script> 
    <script src="../static/js/quill.imageUploader.min.js"></script>
    
    
    

</head>
<body>
    
    <h1 class="display-4 mt-5">Blog</h1>
    <div class="editor-full">
      <div id="document-full" class="ql-scroll-y" style="height: 400px;">
        
      </div>
      <!-- Save the Document in Database -->
      <!-- Hidden form input -->
      <input type="text" name="post" id="post_input" hidden>
      <button class="items-center btn  btn-primary" id="save-btn"> FINISH AND SAVE </button>
    </div>
    
    
    <script src="../static/js/app.js"></script>
</body>
</html>